<!-- Biography Section -->
    <section id="biography">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biography</h2>
						<div class="row">
							<div class="col-sm-3">
								<img class="img-circle img-responsive" src="img/portrait.JPG" alt="">
							</div>
							<div class="col-sm-9">
								<h3 class="section-text text-muted"> 
									I am a freshman prospective mechanical engineering major at Columbia University. My primary interests are in aerospace, 
									propulsion, and robotics, with experience in scientific research, data analysis, and engineering design, while leading teams with sizes ranging from 3 to 50 members. 
									Some of my past projects include using machine learning to determine climate-driven trends from satellite remote sensing data of forest health, organizing face shield production 
									for COVID frontline workers, and designing a hypothetical Enceladus lander mission in the NASA L’Space Mission Concept Academy.	
								</h3>
							</div>
						</div>
                </div>
            </div>
			<br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aerospace Engineering</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chart-area fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analysis</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research</h4>
                </div>
            </div>
        </div>
    </section>