<!-- Documents Section -->
    <section id="documents" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Documents</h2>
                    <h3 class="section-subheading text-muted">References available upon request.</h3>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4 text-center">
                    <a href="https://drive.google.com/file/d/1B7ofHdbqGVmvvuMg37uha_Jkqs6VZpLF/view?usp=sharing" class="btn btn-xl">Resume</a>
                </div>
				<div class="col-md-4 text-center">
					<a href="https://www.linkedin.com/in/ryan-wu40/" class="btn btn-xl">LinkedIn</a>
				</div>
				<div class="col-md-4 text-center">
					<a href="https://drive.google.com/file/d/1ip92gUFFiKwhXwsAjClA0_imph_PktjJ/view?usp=sharing" class="btn btn-xl">Portfolio</a>
				</div>
            </div>
        </div>
    </section>