<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">My career history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/hunter-hs.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2020</h4>
                                    <h4 class="subheading">Hunter College High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">High School Degree | Hazel D. Ruderman Memorial Award, Emily Boggs Award, Otto P. Burgdorf Award, Science Faculty Award | GPA: 4.00</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/columbia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2024</h4>
                                    <h4 class="subheading">Columbia University, Fu Foundation School of Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">B.S. - Mechanical Engineering | Minors - Electrical Engineering, Applied Math | C.P. Davis Scholar | GPA: 4.17 | 
                                        Relevant Courses: Thermodynamics, Propulsion, Heat Transfer, Electromagnetics, PDEs, Data Science</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Your 
								<br>Organization
								<br>Here!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>